@font-face {
    font-family: "Workbench";
    src: url("docs/assests/fonts/Workbench-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Anton";
    src: url("docs/assests/fonts/Anton-Regular.ttf") format("truetype");
}
h1 {
    font-family: "Anton", sans-serif;
    font-size: 100px;
    text-align: center;
    background: linear-gradient(to bottom, #2fff0f,#d4c415, #fc9753, #0026e2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    filter: drop-shadow(4px 4px #2e2d2d);

    margin-top: auto;
    margin-bottom: auto;
}

p {
    font-family: "Workbench"

}

body {
    background: rgb(227, 244, 255);
}

canvas {
    border: 5px solid;
    border-color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: azure;
    /* background-color: #0026e2; */
}