h1{
    font-size: 80px;
  }

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

.top {
  background-color: rgb(71, 187, 255);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: -20px;
  text-align: center;
}

header {
  margin-top: -30px;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

div {
  text-align: center;
  margin-bottom: 50px;
}

img {
  display: block;
  margin-left: auto; 
  margin-right: auto;
}

p {
  font-size: 20px;
  text-align: center;
}

footer {
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.bottom-line {
  max-width: 35%;
  height: 4px;
  background-color: gray;
  margin-top: 30px;
  border: none;
}

#bottomButton {
  border: none;
  margin-top: 20px;
  background-color: white;
}




/*Globally overriding link colors*/
a {
  color:black;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  color: green;
}
/* Formatting for second page */

#wrapper {
  border: 1px solid blue;
}
#div1 {
  display: inline-block;
  width:120px;
  height:400px;
  border: 1px solid red;
}
#div2 {
  display: inline-block;
  width:160px;
  height:160px;
  border: 1px solid green;
}

.picture {
  display: inline-block;
  margin-block: 400px;
}

/*  # has priority over . */
center {
  text-align: center;
  margin: auto;
}